<header class="border-b-2">
    <div class="container mx-auto border-b-1">
      <nav>
        <div class="relative flex items-center justify-between">
          <div class="flex flex-1 justify-center items-stretch">
            <div class="flex items-center">
              <a href="#" class="inline-block x-3 py-2 font-bold">
                <svg class="inline-block h-6 w-6 mr-1"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <circle style="fill:#806600;stroke:none" cy="12" cx="12" r="12"/>
                    <circle style="fill:#ffd42a;stroke:none" cy="12" cx="12" r="9"/>
                    <circle style="fill:#540;stroke:none" cy="12" cx="12" r="6"/>
                </svg>
                <span class="text-fact">wishes</span>
                <span class="text-medi px-0.5">&</span>
                <span class="text-fact">facts</span>
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>